body {
	background: #5e9392;
	background-image: url(!f/index/strobe-hello.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
}

#navi {
	text-align: center;

	h2 {
		text-align: left;
	}
	li {
		display: inline;
		&::before {
			content: "「✦";
			color: var(--pink);
		}
		&::after {
			content: " ✦」";
			color: var(--pink);
		}
	}

	h3 {
		display: inline-block;
		margin: 5px 0px;
	}

	a {
		color: var(--yellow);
		text-decoration: none;
	}
}

#counters p {
	text-align: center;
}
