img.scans {
	max-width: 100%;
}

.scan-buttons {
	column-count: 3;
	column-gap: 20px;
}

a.page {
	margin: 10px 0;
	padding: 5px;
	text-align: center;
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	border: 1px solid var(--pink);
	text-decoration: none;
	img {
		display: block;
		max-width: 100%;
	}
	.title {
		color: var(--purple);
	}
	.scanned {
		color: var(--green);
	}
	.missing {
		color: var(--red);
	}

	&:hover {
		background: var(--pink);
		.title,
		.missing,
		.scanned {
			color: var(--bg);
		}
	}
}
