---
title: fan list
description: a list of all the members! in order of newest to oldest. <br> <b>admin note:</b> i add these manually so it might take a bit for you to appear here!
css: members
---
<div id="fans" class="box">

  <ol reversed>
    {% for member in fanlistingMembers.members %}
    <li><span>{{ member.name }}</span> -
      {% if member.email == empty %} <s>e-mail</s> {% else %} <a href="mailto:{{ member.email }}">e-mail</a> {% endif %} -
      {% if member.website == empty %} <s>website</s> {% else %} <a href="{{ member.website }}" target="_blank">website</a> {% endif %}
      <p><b>favorite song:</b> {{ member.fav_song }}</p>
      <p><b>favorite album:</b> {{member.fav_album }}</p>
    </li>
    {% endfor %}
  </ol>
</div>