body {
	font-size: 17px;
	font-family: ms pgothic;
	word-wrap: break-word;
	word-break: normal;
}

main{
	background:white;
	max-width: 600px;
	margin:auto;
	padding:10px;
	border:1px dashed black;
}

.icon{
	transition-duration: 1s;
}

.icon:hover{
	rotate:350deg;
}