* {
	box-sizing: border-box;
}

:root {
	--red: #8A3842;
	--pink: #B76E68;
	--yellow: #D6A676;
	--green: #949561;
	--purple: #745562;
	--fonts: natsuzemi, ms pgothic, arial;
}

mark {
	background: var(--pink);
	color: white;
	border-radius: 3px;
	padding: 0px 1px;
}

h1 {
	color: var(--yellow);
	line-height: normal;
}

h2 {
	color: var(--green);
}

h3 {
	color: var(--pink);
}

li {
	list-style-position: inside;
	margin-top: 10px;
}

body {
	font-size: 16px;
	line-height: 20px;
	word-spacing: 3px;
	font-family: var(--fonts);
	word-wrap: break-word;
	word-break: normal;
	margin: 0px;
}

nav,
aside,
header,
.box {
	border-radius: 20px;
	background: rgb(255, 255, 255, 0.9);
	border: 1px dashed var(--pink);
}

header {
	max-width: 600px;
	padding: 10px;
	overflow: hidden;
	margin: 20px 0 0px 60px;
}

aside {
	position: fixed;
	right: 20px;
	top: 20px;
	padding: 10px;
	max-width: 300px;
	max-height: 300px;
	overflow: auto;
}

aside h3 {
	margin: 4px;
}

nav {
	border: 0px;
	border-top: 2px solid var(--yellow);
	background: var(--green);
	color: white;
	text-align: center;
	z-index: 3;
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 5px;
	overflow: auto;
	border-radius: 0px;
}

nav a {
	padding: 0 5px 0 0;
	color: white;
	border-radius: 5px;
	padding-left: 10px;
	text-decoration: none;
}

nav a::before {
	content: '～';
}

.box {
	position: relative;
	max-width: 600px;
	margin: 20px 0 20px 60px;
	padding: 10px;
}

b {
	color: var(--red);
}

u {
	color: var(--purple);
}

a {
	text-decoration: underline;
	color: var(--yellow);
	font-weight: bold;
	transition-duration: 0.1s;
	padding: 1px;
}

a:hover {
	border-radius: 10px;
	background: var(--purple);
}

.icon {
	transition-duration: 1s;
}

.icon:hover {
	rotate: 350deg;
}

footer#footer {
	text-align: center;
	color: var(--purple);
	margin-bottom: 80px;
}

#s-m-t-tooltip {
	max-width: 200px;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 10px;
	color: white;
	background: var(--pink);
}

.outlink::after {
	content: "↗";
	padding-left: 2px;
	vertical-align: text-bottom
}

@media only screen and (max-width: 1040px) {

	aside,
	header,
	.box {
		position: relative;
		max-width: 100%;
		margin: 20px 10px 0px 10px;
		right: 0px;
		left: 0px;
		bottom: 0px;
		top: 0px;
	}

}
